[Unit]
Description=MonitoCam Frontend (Vite Dev Server)
After=network.target

[Service]
Type=simple
User=cristianmartin
WorkingDirectory=/home/cristianmartin/monitocam/frontend

ExecStart=/usr/bin/npm run dev -- --host 0.0.0.0 --port 3000

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
